<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="不得不说，选好方向真重要，这都能骗到钱！收费倒是可以理解，因为需要一些服务，但是拿来赚钱，不可取！">
    <meta name="author" content="karlf">

    <title>数字听力 - 首页</title>
    <link href="../static/img/logo.png" rel="icon" type="image/x-ico">

    <!-- 此模板的自定义字体 -->
    <link href="../static/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/fonts.css" rel="stylesheet">

    <!-- 此模板的自定义样式 -->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!--页面包装器-->
    <div id="wrapper">

        <!--侧边栏-->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!--侧边栏 - logo-->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-headphones"></i>
                </div>
                <div class="sidebar-brand-text mx-3">数字听力</div>
            </a>

            <!--分割线-->
            <hr class="sidebar-divider my-0">

            <!--导航项 - 首页-->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>首页</span></a>
            </li>

            <!-- 分割线 -->
            <hr class="sidebar-divider">

            <!-- 标题 -->
            <div class="sidebar-heading">
                选择语言：
            </div>

            <!-- 可展开导航项 - 英语 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-book"></i>
                    <span>英语</span>
                </a>
                <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">请选择语速:</h6>
                        <a class="collapse-item" href="/dictation/en-US/-50%">0.5</a>
                        <a class="collapse-item" href="/dictation/en-US/-25%">0.75</a>
                        <a class="collapse-item" href="/dictation/en-US/+0%">1.0</a>
                        <a class="collapse-item" href="/dictation/en-US/+25%">1.25</a>
                        <a class="collapse-item" href="/dictation/en-US/+50%">1.5</a>
                    </div>
                </div>
            </li>

            <!-- 可展开导航项 - 日语 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-book"></i>
                    <span>日语</span>
                </a>
                <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">请选择语速:</h6>
                        <a class="collapse-item" href="/dictation/ja-JP/-50%">0.5</a>
                        <a class="collapse-item" href="/dictation/ja-JP/-25%">0.75</a>
                        <a class="collapse-item" href="/dictation/ja-JP/+0%">1.0</a>
                        <a class="collapse-item" href="/dictation/ja-JP/+25%">1.25</a>
                        <a class="collapse-item" href="/dictation/ja-JP/+50%">1.5</a>
                    </div>
                </div>
            </li>
            
            <!-- 可展开导航项 - 韩语 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages3"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-book"></i>
                    <span>韩语</span>
                </a>
                <div id="collapsePages3" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">请选择语速:</h6>
                        <a class="collapse-item" href="/dictation/ko-KR/-50%">0.5</a>
                        <a class="collapse-item" href="/dictation/ko-KR/-25%">0.75</a>
                        <a class="collapse-item" href="/dictation/ko-KR/+0%">1.0</a>
                        <a class="collapse-item" href="/dictation/ko-KR/+25%">1.25</a>
                        <a class="collapse-item" href="/dictation/ko-KR/+50%">1.5</a>
                    </div>
                </div>
            </li>

            <!-- 可展开导航项 - 德语 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages4"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-book"></i>
                    <span>德语</span>
                </a>
                <div id="collapsePages4" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">请选择语速:</h6>
                        <a class="collapse-item" href="/dictation/de-DE/-50%">0.5</a>
                        <a class="collapse-item" href="/dictation/de-DE/-25%">0.75</a>
                        <a class="collapse-item" href="/dictation/de-DE/+0%">1.0</a>
                        <a class="collapse-item" href="/dictation/de-DE/+25%">1.25</a>
                        <a class="collapse-item" href="/dictation/de-DE/+50%">1.5</a>
                    </div>
                </div>
            </li>

            <!-- 可展开导航项 - 法语 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages5"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-book"></i>
                    <span>法语</span>
                </a>
                <div id="collapsePages5" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">请选择语速:</h6>
                        <a class="collapse-item" href="/dictation/fr-FR/-50%">0.5</a>
                        <a class="collapse-item" href="/dictation/fr-FR/-25%">0.75</a>
                        <a class="collapse-item" href="/dictation/fr-FR/+0%">1.0</a>
                        <a class="collapse-item" href="/dictation/fr-FR/+25%">1.25</a>
                        <a class="collapse-item" href="/dictation/fr-FR/+50%">1.5</a>
                    </div>
                </div>
            </li>

            <!-- 可展开导航项 - 西班牙语 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages6"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-book"></i>
                    <span>西班牙语</span>
                </a>
                <div id="collapsePages6" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">请选择语速:</h6>
                        <a class="collapse-item" href="/dictation/es-ES/-50%">0.5</a>
                        <a class="collapse-item" href="/dictation/es-ES/-25%">0.75</a>
                        <a class="collapse-item" href="/dictation/es-ES/+0%">1.0</a>
                        <a class="collapse-item" href="/dictation/es-ES/+25%">1.25</a>
                        <a class="collapse-item" href="/dictation/es-ES/+50%">1.5</a>
                    </div>
                </div>
            </li>

            <!-- 分割线 -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- 侧边栏切换器（侧边栏） -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- 侧边栏结束 -->

        <!-- 内容包装器 -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- 主要内容 -->
            <div id="content">

                <!-- 顶部栏 -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- 侧边栏切换（顶部栏） -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                </nav>
                <!-- 顶部栏结束 -->

                <!-- 开始页面内容 -->
                <div class="container-fluid">

                    <!-- 内容行 -->
                    <div class="row">

                        <!-- 卡片 -->
                        <div class="col-12">
                            <div class="card shadow mb-4">
                                <!--卡片头 - 下拉列表-->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">写点啥</h6>
                                </div>
                                <!--卡片主体-->
                                <div class="card-body">
                                    <p>
                                        　　服务器是Azure的b1ls，语音转文字也是微软的，地区东京（16：30之后访问会快很多），GitHub学生包领的。毕竟是免费的，使用体验肯定会差一些，服务器还要跑节点，流量有限，所以音质我降低了些，但是应该比那个小程序好。还有很多优化可以做，奈何我还要二战。打算公益接力的，可以Email留言。不搞前端，没啥经验，随便应付，那我道歉？<br/>
                                        　　不同设备的兼容问题，开发过程中已经尽力解决了，MS Edge DevTools里的模拟机型几乎都做到了完美适配，但是实际真机测试的时候发现，还是会有很多小问题<i>（ios14.4.1，ipados15.4.1加载时原按钮不隐藏，但ios15.4.1正常）</i>我掐指一算，这应该是bootstrap5的问题，好在这些几乎都不影响实际使用，所以我懒得改了。<br/>
                                        　　另外如果有特别严重的错误或者十分关键的改进意见，都可以Email留言，除此之外，不打算再有什么改进了。翻不起什么风浪，就是为了兑现自己之前吹过的牛*。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /开始页面内容 -->

            </div>
            <!-- 主要内容结束 -->

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><i class="fa fa-comment"></i>　xiaokkk@foxmail.com</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- 内容包装结束 -->

    </div>
    <!-- 页面包装器结束 -->

    <!-- 滚动到顶部按钮 -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!--Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--核心插件 JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- 所有页面的自定义脚本 -->
    <script src="../static/js/sb-admin-2.min.js"></script>

</body>

</html>
